body{
    color:white;
    background-image: url('admin/adminbg.jpg');
    background-position:center;
    background-repeat:repeat;
    background-size:cover;
    
}
.img-thumbnail{
width:100px;
}


.fontcolor {
    color: white;
}
.tb{
    text-align:center;
}
.admin-aside{
    width:100%;
    border:solid red;
}
.divide {
    width: 90%;
    /* border:solid; */
    font-size: larger;
    color: black;
    background-color: aquamarine;
    border-radius: 10px;
}
.admin-content{
    border:solid blue;
}
.add-product{
    border-style:inset;
    border-color:silver;
}

.admin-table{
    text-align:center;
    border-style:groove;
    border:solid 2px;
}