.body {
    margin: 0px;
    padding: 0px;
}


.main {
    width: 100%;
    min-height: 1600px;
    border: 2px solid;
}
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
    height: 1500px
}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
.footer {
    width:100%;
   
    border-style: groove;
    margin-top: 5px;
    text-align:center;
    background-color: #12131a;
    color: #94959c;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.slider {
    width:80%;
    /* border:5px solid #2c3e50; */
    height: 310px;
    left: 10%;
    padding-left: 5%;
}

.design {
    /*border: solid;*/ 
    width:85%;
    float:right;
    height: 335px;
    background-color: lightblue;
}

.col-sm-9 {
    /* background-color: #555; */
    left: 5%;
}



.hr {
    border-width: 5px;
}

.item {
    width: 250px;
    height: 300px;
}

.slick-prev:before {
    color: black;
}

.slick-next:before {
    color: black;
}


.jumbotron {
    height: 379px;
}
